.container-3 {
    text-align: center;
    padding-inline: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-4 {
    width: 50rem;
    background: #EBE9EA;
    padding: 3.6rem 2.2rem;
    margin-bottom: 3rem;
}